.admin-page{
    display: flex;
  }
  .category{
    background-image: url('C:\Users\Admin\OneDrive\Desktop\ReactProject\quiz-app\public\profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100px;
    height:100px;
    border-radius: 50%;
    margin: 40px 40px 10px 40px;
  }
  .welmsg{
    color:darkred;
    font-size: 20px;
    margin-bottom: 50px;
  }
  
  .side-bar-left {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh; /* 100% of the viewport height */
    background-color:#54656b;
    /* Add any other styling you need for the sidebar */
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  

  .content {
    /* Styles for the content sections, e.g., Courses and Completed Quiz */
    padding: 20px;
    font-size: 20px;
    font-weight:bold;
    border-bottom: 1px solid #ddd; /* Add a separator between content sections */
    text-align: center;
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
  }
  
  .content:last-child {
    border-bottom: none; /* Remove the separator for the last content section */
  }