
  
  
  .content {
    /* Styles for the content sections, e.g., Courses and Completed Quiz */
    padding: 20px;
    font-size: 20px;
    font-weight:bold;
    border-bottom: 1px solid #ddd; /* Add a separator between content sections */
    text-align: center;
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
  }
  
  .content:last-child {
    border-bottom: none; /* Remove the separator for the last content section */
  }
  .cont{
    display:flex;
  }
  /* CourseForm.css */
.course-form-container {
  width: 300px;
  margin-left:210px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.success-message {
 /* Green background color */
  color: green; /* White text color */
 /* Add some padding */
  text-align: center; /* Center the text */
  margin-top: 10px; /* Add margin at the top */
   /* Add rounded corners */
}
.view-courses-container {
  padding: 20px;
  margin-left:100px;
  max-width: 1000px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #edeaea;
}

th, td {
  padding: 10px;
  text-align: left;
  align-items: center;
}

th {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #e74c3c; /* Red background color */
  color: #fff; /* White text color */
  border: none;/* Adjust padding as needed */
  padding: 4px 8px;
  border-radius: 50%; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth background color transition */
}

.delete-button:hover {
  background-color: #c0392b; /* Darker red on hover */
}
.error-message {
  /* Green background color */
   color: red; /* White text color */
  /* Add some padding */
   text-align: center; /* Center the text */
   margin-top: 10px; /* Add margin at the top */
    /* Add rounded corners */
 }

/* Styling for success message, adjust as needed */
