.logout-button {
  background-color: #dc3545; /* Background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding around the button text */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  font-size: 16px; /* Font size */
  text-decoration: none; /* Remove underlines from links */
}

  /* Add a hover effect */
.logout-button:hover {
    background-color: #c82333; /* Change background color on hover */
}

